

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', 'sans-serif';

}
body{
  
        max-width: 1440px;
        background-color: #f0f4f5;
        overflow: hidden;
        margin: auto;
      
}

/*
navigation bar
*/
nav{
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
}
/*Designing logo*/
nav img {
    width: 150px;
  }
/* designing menu links */
  nav ul {
    display: flex;
    align-items: center;
  }

  nav ul li {
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
  }

  nav ul li:second-child {
    font-weight: 700;
    color: #20bc7e;
  }
  a {
    text-decoration: none;
    color: black;
  }

  h1{
     text-align: center;
     color: #20bc7e;
     padding-top: 300px;
     font-size: 20px;
     


  }
  p{
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    
  }
  h2{
    color: #20bc7e;
    font-weight: 700;
    font: 25px;
  }
  h5{
    font-weight: 500;
    font-size: 20px;
  }
  .cards{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-left: 365px;

}

  .Card{
  width: 200px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }